@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Roboto+Flex:opsz,wdth,wght@8..144,125,100..1000&display=swap");
@font-face {
  font-family: "Onest";
  src: url("../../fonts/Onest/static/Onest-Regular.woff");
  font-weight: 400;
}
@font-face {
  font-family: "Onest";
  src: url("../../fonts/Onest/static/Onest-Medium.woff");
  font-weight: 500;
}
@font-face {
  font-family: "Akony";
  src: url("../../fonts/Akony/AKONY.woff");
  font-weight: 400;
}
/* Reset and base styles  */
* {
  padding: 0px;
  margin: 0px;
  border: none;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Links */
input:-webkit-autofill,
input:-webkit-autofill:focus {
  -webkit-transition: background-color 0s 600000s, color 0s 600000s !important;
  transition: background-color 0s 600000s, color 0s 600000s !important;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

a,
a:link,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

a {
  color: inherit;
}

/* Common */
aside,
nav,
footer,
header,
section,
main {
  display: block;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-size: inherit;
  font-weight: inherit;
  margin: inherit;
  margin-bottom: 0px;
}

ul,
ul li {
  list-style: none;
}

img,
svg {
  max-width: 100%;
  height: auto;
}

/* Form */
input,
textarea,
button,
select {
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  background-color: transparent;
}

input::-ms-clear {
  display: none;
}

button,
input[type=submit] {
  display: inline-block;
  box-shadow: none;
  background-color: transparent;
  background: none;
  cursor: pointer;
}

input:focus,
input:active,
button:focus,
button:active {
  outline: none;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

label {
  cursor: pointer;
}

legend {
  display: block;
}

.about-company {
  color: #0C0C0C;
  padding-top: calc((1vw + 1vh) * 4.2);
  margin-bottom: calc((1vw + 1vh) * 4.2);
}
.about-company__inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: calc((1vw + 1vh) * 2.26);
}
.about-company__rewards {
  display: flex;
  text-align: center;
}
.about-company__title {
  font-family: "Roboto Flex", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings: "slnt" 0, "wdth" 151, "GRAD" 0, "XOPQ" 96, "XTRA" 468, "YOPQ" 79, "YTAS" 750, "YTDE" -203, "YTFI" 738, "YTLC" 514, "YTUC" 712;
  letter-spacing: -5px;
  font-size: calc((1vw + 1vh) * 4.2);
  font-weight: 700;
  line-height: 75%;
  margin-bottom: calc((1vw + 1vh) * 1.6);
}
.about-company__text {
  line-height: 150%;
  width: calc((1vw + 1vh) * 35);
}
.about-company__rewards {
  display: flex;
  -moz-column-gap: calc((1vw + 1vh) * 0.7);
       column-gap: calc((1vw + 1vh) * 0.7);
}

.reward__item {
  width: calc((1vw + 1vh) * 3.5);
}
.reward__number {
  min-height: calc((1vw + 1vh) * 3.12);
  display: flex;
  align-items: center;
  position: relative;
  justify-content: center;
  font-family: "Roboto Flex", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings: "slnt" 0, "wdth" 151, "GRAD" 0, "XOPQ" 96, "XTRA" 468, "YOPQ" 79, "YTAS" 750, "YTDE" -203, "YTFI" 738, "YTLC" 514, "YTUC" 712;
  letter-spacing: -5px;
  font-weight: 700;
  letter-spacing: -1px;
  font-size: calc((1vw + 1vh) * 0.7);
}
.reward__number::after {
  display: block;
  content: "";
  background: url("/images/src/reward.svg") center no-repeat;
  background-size: cover;
  height: calc((1vw + 1vh) * 2.7);
  width: calc((1vw + 1vh) * 3.5);
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 0;
  left: 0;
  margin: auto;
  z-index: 4;
}
.reward__text {
  font-size: calc((1vw + 1vh) * 0.635);
}

.our-mission {
  color: #FFFFFF;
  background-color: #0C0C0C;
  border-radius: calc((1vw + 1vh) * 1.6);
}
.our-mission__inner {
  padding: calc((1vw + 1vh) * 2.26);
  display: flex;
  -moz-column-gap: calc((1vw + 1vh) * 1.08);
       column-gap: calc((1vw + 1vh) * 1.08);
  position: relative;
}
.our-mission__left {
  width: 64%;
}
.our-mission__text.left {
  font-family: "Roboto Flex", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings: "slnt" 0, "wdth" 151, "GRAD" 0, "XOPQ" 96, "XTRA" 468, "YOPQ" 79, "YTAS" 750, "YTDE" -203, "YTFI" 738, "YTLC" 514, "YTUC" 712;
  letter-spacing: -5px;
  font-size: calc((1vw + 1vh) * 2.72);
  line-height: 80%;
}
.our-mission__text.left span {
  font-weight: 700;
}
.our-mission__text.right {
  font-size: calc((1vw + 1vh) * 0.825);
  line-height: 140%;
}
.our-mission__right {
  width: 36%;
}
.our-mission__img {
  position: absolute;
  bottom: calc((1vw + 1vh) * -3);
  right: calc((1vw + 1vh) * 5);
  z-index: 2;
}
.our-mission__img img {
  width: calc((1vw + 1vh) * 14);
}

.ready {
  color: #0C0C0C;
  margin-bottom: calc((1vw + 1vh) * 4.2);
}
.ready__title {
  font-family: "Roboto Flex", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings: "slnt" 0, "wdth" 151, "GRAD" 0, "XOPQ" 96, "XTRA" 468, "YOPQ" 79, "YTAS" 750, "YTDE" -203, "YTFI" 738, "YTLC" 514, "YTUC" 712;
  letter-spacing: -5px;
  font-weight: 700;
  line-height: 75%;
  text-align: center;
  font-size: calc((1vw + 1vh) * 5.6);
  margin-bottom: calc((1vw + 1vh) * 2);
}
.ready__text {
  text-align: center;
  width: calc((1vw + 1vh) * 40.5);
  margin: auto;
  margin-bottom: calc((1vw + 1vh) * 1.8);
}
.ready__slider {
  position: relative;
  width: 100%;
  /* Ширина слайдера */
  overflow: hidden;
  /* Скрываем элементы, выходящие за пределы контейнера */
}
.ready__slider__inner {
  display: flex;
  /* Делаем контейнер слайдера flex-контейнером */
  white-space: nowrap;
  /* Запрещаем перенос строк */
  will-change: transform;
  position: relative;
  /* Устанавливаем относительное позиционирование */
  /* Скрываем элементы, выходящие за пределы контейнера */
  font-family: "Roboto Flex", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings: "slnt" 0, "wdth" 151, "GRAD" 0, "XOPQ" 96, "XTRA" 468, "YOPQ" 79, "YTAS" 750, "YTDE" -203, "YTFI" 738, "YTLC" 514, "YTUC" 712;
  letter-spacing: -5px;
  font-weight: 700;
  font-size: calc((1vw + 1vh) * 1.08);
  letter-spacing: -1px;
  white-space: nowrap;
}
.ready__slider.dark {
  background-color: #0C0C0C;
  color: #FFFFFF;
  transform: rotate(4deg) translateY(50px);
  position: relative;
  z-index: 2;
}
.ready__slider.white {
  background-color: #F6F8FA;
  color: #0C0C0C;
  position: relative;
  transform: rotate(-4deg) translateY(-50px);
  z-index: 1;
}
@keyframes slideIn {
  0% {
    transform: translateX(-100%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}
.ready__item {
  padding: calc((1vw + 1vh) * 1.08);
  line-height: 100%;
}

.relationship {
  padding: calc((1vw + 1vh) * 3) 0;
  border-radius: calc((1vw + 1vh) * 2.44);
  background-color: #F6F8FA;
  color: #0C0C0C;
}
.relationship__title {
  font-family: "Roboto Flex", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings: "slnt" 0, "wdth" 151, "GRAD" 0, "XOPQ" 96, "XTRA" 468, "YOPQ" 79, "YTAS" 750, "YTDE" -203, "YTFI" 738, "YTLC" 514, "YTUC" 712;
  letter-spacing: -5px;
  font-weight: 700;
  font-size: calc((1vw + 1vh) * 2.44);
  letter-spacing: -1px;
  line-height: 90%;
  margin-bottom: calc((1vw + 1vh) * 0.9);
}
.relationship__text {
  margin-bottom: calc((1vw + 1vh) * 1.8);
}