@import '../variables';
@import '../nullifier';


.privacy {
	padding-top: $xxxl;
	color: $dark;
	margin-bottom: $xxxl;

	&__title {
		font-weight: 700;
		@include roboto-flex;
		font-size: $xxxl;

		line-height: 75%;

		margin-bottom: $xxl;

		&-small {
			font-weight: 700;
			line-height: 75%;

			@include roboto-flex;
			font-size: $lg;

			margin-bottom: calc($index * .9);
		}
	}

	&__text-mb {
		margin-bottom: calc($index * .8);
	}

}